blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
Deprecated==1.2.14
exceptiongroup==1.2.2
flask==3.0.3
idna==3.10
importlib-metadata==8.5.0
importlib-resources==6.4.5
iniconfig==2.0.0
itsdangerous==2.2.0
jinja2==3.1.4
limits==3.13.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
ordered-set==4.1.0
packaging==24.1
pluggy==1.5.0
pygments==2.18.0
pytest==8.3.3
requests==2.32.3
rich==13.8.1
tomli==2.0.1
typing-extensions==4.12.2
urllib3==2.2.3
werkzeug==3.0.4
wrapt==1.16.0
zipp==3.20.2
